@import url(style.css);

.horizont1{
	background: #F1EFF0;
	border-top: 13px solid rgb(153, 204, 51);
	width: 100%;
	height: 7em;
	position: absolute;
	border-bottom: 1px solid #DADADA;
}

.Header{
	width:90%;
	height:100%;
	margin:0 auto;
	position:relative;
	z-index: 1;
}

/*Header top*/
.HeaderTop{
	border-top: 13px solid #99cc33;
	/*background: #eeeded;*/
	width:100%;
	height: 8em;
	position: relative;
}

.classCabecera{
	width: 100%;
	height:100%;
}

.HeaderLogo{
	position: absolute;
	top: .8em;
	margin: .6em 0 1em
	.5em;
	padding-right:.5em;
	max-width: 100%;
}

.classLogo{
	width: 70%;
	height:70%;
}


.FuenteLogo{
	width: 70%;
	padding: 0;
	display:inline-block;
	vertical-align: top;
	margin-left:9em;
}

.FuenteTitle{
	font-size: 2em;
	color:#4d6e0b;
	margin:0;
	padding-top: .7em;
}

.VerdeClaro{
	font-size: .7em;
	color:#82AD2C;
	padding-left:.2em;
}

.SocialRedes{
	position: absolute;
	display: inline-block;
	right:0;
}

.HeaderSocial{
	list-style: none;
	font-size: 1.5em;
	color:#709f11;
	margin: 0.4em .0;
}

.space{
	padding-left: 1em;
}

.Twiter{
	margin:.5em 0 ;
}
/*Fin del HeaderTop*/

/*HeaderBottom*/
.HeaderBottom{
	width:100%;
	height:18.2em;
	line-height: 3.2;
	position: relative;
	overflow: hidden;
}

.HeaderMenu{
	width:25%;
	display: inline-block;
	position: absolute;
	left:0;

}

.MenuList{
	width:100%;
	padding: 0;
}

.MenuItem{
	width:100%;
	height:3.23em;
	background:#95c930;
	border-bottom: 3px solid #9dd33a;
	line-height: 3.8em;
	color:#ffffff;
	font-weight: bold;
	font-size:1em ;
	list-style: none;
	text-align: center;

}
/***********************SLAIDERS**************************/
.HeaderSlaider{
	width: 72%;
	/*height: 273px;*/
	display: inline-block;
	position: absolute;
	right: 0;
	vertical-align: center;
	margin-top: 1em;
	margin-left: 1.2em;
}

.Slaider{
	width: 100%;
	height: 100%;
}


/****************************FIN SLAIDER***************************/
.Container{
	width:100%;
	height:100%;
	margin:0 auto;
	margin-top: 1em;
	background-color: #f4f4f4;
}

.ContainerInfo{
	width:90%;
	height:100%;
	margin:0 auto;
}
.Novedades{
	width: 75%;
	height:15em;
	display: inline-block;
	margin-top: 1em;
}

.SubTitle{
	border-bottom: 1px solid green;
	padding-bottom: .5em;
	width:90%;
	font-size: 1.1em;
	color:#9dd33a;
	font-weight: normal;
	margin-left:.5em;
}

.NoveImage{
	margin: 0;
	display: inline-block;
}

.NovedadesImage{
	margin-left: 1em;
	border: 4px solid #DFDDDD;
}

.txt{
	display: inline-block;
	vertical-align: top;
	width: 54%;
	margin: 0 .5em;
}



/*************VIDEO***************/

.Video{
	display:inline-block;
	width:20%;
	height:20em;
	margin
	padding: 0;
	vertical-align: top;
	/*border: 1px solid #BBBBBB;
	border-radius: 4px;*/
	}

.youtube-player{
	width: 100%;
}
.NovedadesImage{
	width: 200px;
	he
}