@font-face {
	font-family: 'icomoon';
	src:url('../icofonts/icomoon.eot?oral9u');
	src:url('../icofonts/icomoon.eot?#iefixoral9u') format('embedded-opentype'),
		url('../icofonts/icomoon.woff?oral9u') format('woff'),
		url('../icofonts/icomoon.ttf?oral9u') format('truetype'),
		url('../icofonts/icomoon.svg?oral9u#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-cam:before {
	content: "\e601";
}
.icon-camera:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-youtube:before {
	content: "\e605";
}
