@import './fonts.css';
@import './variables.css';

body{
  font-size: 16px;
  font-family: var(--roboto);
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.u-title{
  font-family: var(--roboto);
  color: var(--bgTitle);
  font-size:1.5em;
  margin:1em 0;
}

.u-wrapper{
  width:auto;
  max-width: 1200px;
  margin: auto;
}

.u-subtitle{
  font-family: var(--roboto);
  color: var(--bgSubtitle);
  font-size:1.2em;
  margin:5px 0 1em 0;
}

.u-paginacion{
  color:white;
  font-weight: bold;
  padding:.7em .9em;
  text-decoration:none;
  border-radius:4px;
  margin:0 10px
}
/*Cabecera*/
.AvanzaHero{
  background-color: #f1eff0;
  /*border-top:10px solid #99cc33;*/
  &-header{
    width: 100%;
    height: 110px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    &-content{
      display:flex;
      flex-flow: row wrap;
      &-logo{
        & a img{
          width: 70%;
        }
      }
      &-titulo{
        & h1{
          font-family: var(--Fjalla);
          color: var(--verdeOscuro);
          letter-spacing:1px;
        }

        & h1 span{
          color: var(--verdeClaro);
          font-size: 0.7em;
        }
      }
    }
  }

}
.AvanzaCopy{
  height: 291px;
  overflow: hidden;
  padding-top: 2em;
  &-navbar{
    width: 29%;
    display: inline-block;
    height: 100%;
    margin-right: 1em;
    background-color: var(--verdeMenu);
    vertical-align: top;
    text-align: center;
    &-list{
      display: flex;
      flex-flow: column nowrap;

      &-item{
        height:55px;
        border-bottom:1px solid #a0d637;
        line-height: 50px;
        font-family: var(--roboto);
        color:white;
        text-decoration:none;
        transition: .3s ;
      }
      &-item:hover{
        background-color: var(--verdeOscuro);
      }
    }
  }
  &-container{
    width:69%;
    display:inline-block;
    &-item{
      & li{
        list-style:none;
      }
      & li img{
        width:100%;
      }
    }
  }
}
.AvanzaMain{
  background-color: var(--bgMain);
  padding-bottom:2em;
  margin-top:2em;
  &-content{
    display:flex;
    flex-flow:row nowrap;
    padding:0 10px;
  }
  &-articulos{
    width:78%;
    margin-right:2em;
    & h1{
      padding-bottom: 10px;
      border-bottom:1px solid #cecccc;
    }
    &-content{
      margin-bottom: 2em;
      padding-bottom: 2em;
      border-bottom: 1px solid #cecccc;
      width: 100%;
      &-image{
        display:inline-block;
        width:300px;
        & img{
          width:100%;
        }
      }
      &-texto{
        display: inline-block;
        width: 63%;
        vertical-align: top;
        margin-left: 1em;
        position:relative;
        & p{
          margin-right:1em;
          line-height:28px;
        }
        & buttom{
          background-color: var(--btn);
          color: white;
          padding:.6em 1em;
          border-radius:7px;
          position:absolute;
          right:0;
          margin-right:1em;
        }
      }
    }
    & article:nth-child(4){
      border-bottom:none;
    }
    &-pag{
      margin: 2em 0 2em 0;
      text-align: center;
      &-active{
        background-color:#8abd2b;
      }
      &-inactive{
        background-color:#a1a1a1;
      }
    }
  }
  &-tangencial{
    width:22%;
    &-video{
      width:200px;
      margin:auto;
      &-content{
        padding-top:56.4%;
        position:relative;
        & iframe{
          position:absolute;
          height:100%;
          width:100%;
          bottom:0;
          top:0;
          left:0;
          right: 0;

        }
      }
    }
    &-Face{
      width:200px;
      margin:auto;
    }
  }
}
.AvanzaFooter{
  background-color:var(--bgFooter);
  &-content{
    padding:2em 10px;
    &-logo{
      display:flex;
      flex-flow: row-nowrap;
      justify-content: space-between;
      &-address{
        position:relative;
        width:220px;
        &-title{
          padding-right: 1em;

        }
        &-direc{
          font-size:.8em;
          position:absolute;
          border-left: 1px solid black;
          padding-left: 1em;
          left: 82px;
          top:0;
        }
      }
      &-map{
        width:270px;
        &-fila{

          & a{
            text-decoration:none;
            font-size:.8em;
            color:black;
            transition:.3s;
            line-height: 23px;
            margin:0 1em;
          }
          & a:hover{
            text-decoration:underline;
            color:white;
          }

        }
      }
      &-social{
        width:156px;
        & h3{
          font-size:.9em;
        }
        &-list{
          margin-top:.7em;
          text-align: right;
          &-item{
            font-size: 1.5em;
            text-decoration:none;
            color:black;
            transition: .3s;
          }
          &-item:hover{
            color:white;
          }
        }
      }
    }
  }
  &-copy{
    background-color:black;
    color:white;
    font-size:.7em;
    text-align:center;
    padding:.4em 0
  }
}
