body{
  font-size: 16px;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.u-wrapper{
  width:auto;
  max-width: 1200px;
  margin: auto;
}

.AvanzaHero{
  background-color: #f1eff0;
  border-top:10px solid #99cc33;
  &-header{
    &-logo{
      margin-left:10px;
    }
  }
}
